body {
  background-image: url("/assets/images/back.png");
  background-color: #dddddd;
}
body input, body select, body textarea, body button:focus {
  outline: 0;
  outline: none;
}
body .mainSectionHeading {
  color: #150050;
}
body .deleteBin:hover {
  color: red;
  transform: scale(1.1);
}
body .checkBoxGreen {
  color: rgb(1, 234, 1);
}
body .checkBoxGreen:hover {
  color: rgb(87, 87, 87);
}
body .checkBoxWhite:hover {
  color: rgb(1, 234, 1);
}
body .folderIcon {
  cursor: pointer;
}
body .genericTablet {
  min-height: 100vh;
}
body .genericTablet .container-fluid {
  height: 80vh;
  width: 40%;
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
  padding: 0 !important;
}
body .tabletHeader {
  background-color: #150050;
  color: white;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
}
body .tabletHeader .row .logoutCol {
  text-align: right;
}
body .tabletHeader .row .logoutBut {
  background-color: #eeeeee;
  color: #3f0071;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 600;
  border: 1px solid #150050;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .tabletHeader .row .logoutBut:hover {
  border-color: white;
  color: white;
  background-color: #150050;
}
body .tabletHeader .row .deleteBut {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-right: 2px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .tabletHeader .row .deleteBut:hover {
  background-color: rgb(218, 2, 2);
}
body .folderTableBody {
  padding: 0 !important;
}
body .folderTableBody .createBarDiv {
  background-color: #150050;
  border-top: 1px solid #eeeeee;
  padding: 10px;
}
body .folderTableBody .createBarDiv .row {
  padding: 2px 15px;
}
body .folderTableBody .createBarDiv .row .coll {
  padding: 0 !important;
}
body .folderTableBody .createBarDiv input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 3px 0 0 3px;
}
body .folderTableBody .createBarDiv button {
  width: 100%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0 3px 3px 0;
}
body .folderTableBody .createBarDiv button:hover {
  background-color: #dddddd;
}
body .folderTableBody .folders {
  padding: 20px 25px;
}
body .tabletBody::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body .tabletBody {
  height: 70vh;
  padding: 20px 10px;
  overflow-y: auto;
}
body .folder {
  padding: 5px 10px;
  background-color: #150050;
  color: white;
  padding-bottom: 0px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  border: 2px solid #150050;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
body .folder i {
  margin-right: 5px;
}
body .folder:hover {
  background-color: white;
  color: #150050;
  border-color: white;
  cursor: pointer;
}
body .folder:hover i {
  transform: scale(1.2);
}
body .createAccount {
  min-height: 100vh;
}
body .createAccount .container-fluid {
  min-height: 40vh;
  width: 40%;
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
  padding: 20px 30px;
}
body .createAccount .container-fluid .headings {
  text-align: center;
  margin-bottom: 20px;
}
body .createAccount .container-fluid .form {
  margin-top: 20px;
}
body .createAccount .container-fluid .form input {
  width: 100%;
  padding: 5px 10px;
  border-color: rgba(0, 0, 0, 0.16);
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: large;
}
body .createAccount .container-fluid .form p {
  margin-top: 5px;
}
body .createAccount .container-fluid .form a {
  color: #3f0071;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .createAccount .container-fluid .form a:hover {
  color: #150050;
}
body .createAccount .container-fluid .form .passwordCol {
  position: relative;
}
body .createAccount .container-fluid .form .passwordCol span {
  position: absolute;
  right: 10px;
  top: 2px;
}
body .createAccount .container-fluid .form .createAccountBut {
  background-color: #150050;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #150050;
  font-size: large;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .createAccount .container-fluid .form .createAccountBut:hover {
  transform: scale(1.05);
}
body .login {
  background-color: #eeeeee;
}
body .login .container-fluid {
  height: 100vh;
  position: relative;
}
body .login .container-fluid .homeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .login .container-fluid .homeIcon i {
  font-size: xx-large;
  color: #3f0071;
}
body .login .container-fluid .homeIcon:hover i {
  color: #150050;
}
body .login .container-fluid .row .leftt {
  padding: 0 !important;
}
body .login .container-fluid .row .leftt img {
  width: 100%;
  height: 100vh;
}
body .login .container-fluid .row .rightt {
  text-align: center;
}
body .login .container-fluid .row .rightt img {
  height: 100px;
  margin-bottom: 30px;
}
body .login .container-fluid .row .rightt .form {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
body .login .container-fluid .row .rightt .form input, body .login .container-fluid .row .rightt .form select {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
}
body .login .container-fluid .row .rightt .form .passwordCol {
  position: relative;
}
body .login .container-fluid .row .rightt .form .passwordCol span {
  position: absolute;
  right: 10px;
  top: 2px;
}
body .login .container-fluid .row .rightt .form a {
  text-decoration: none;
  color: #3f0071;
}
body .login .container-fluid .row .rightt .form a:hover {
  color: #150050;
}
body .login .container-fluid .row .rightt .form button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 0;
  background-color: #3f0071;
  color: white;
  font-size: larger;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .login .container-fluid .row .rightt .form button:hover {
  background-color: #150050;
}
body .login .container-fluid .row .rightt .form .createBut {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 0;
  background-color: white;
  border: 1px solid #3f0071;
  color: #3f0071;
  font-size: larger;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
body .login .container-fluid .row .rightt .form .createBut:hover {
  background-color: #3f0071;
  color: white;
}
body .forgotPassword {
  height: 90vh;
}
body .forgotPassword .container .row .form {
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}
body .forgotPassword .container .row .form .heading {
  text-align: center;
}
body .forgotPassword .container .row .form .inputs {
  margin-top: 50px;
}
body .forgotPassword .container .row .form .inputs input, body .forgotPassword .container .row .form .inputs select {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
}
body .forgotPassword .container .row .form .inputs .sendBut {
  background-color: #3f0071;
  color: white;
  border: 1px solid #3f0071;
  padding: 10px 15px;
  margin-right: 5px;
}
body .forgotPassword .container .row .form .inputs .sendBut:hover {
  color: #3f0071;
  background-color: rgba(0, 0, 0, 0);
}
body .forgotPassword .container .row .form .inputs .resetBut {
  background-color: white;
  color: #3f0071;
  border: 1px solid #3f0071;
  padding: 10px 15px;
  margin-right: 5px;
}
body .forgotPassword .container .row .form .inputs .resetBut:hover {
  color: white;
  background-color: #3f0071;
}

@media only screen and (max-width: 992px) {
  .genericTablet .container-fluid {
    width: 60% !important;
  }
  .login .container-fluid {
    height: 100vh;
  }
  .login .container-fluid .row .leftt {
    display: none !important;
  }
  .login .container-fluid .row .rightt {
    padding-top: 50px;
  }
  .login .container-fluid .row .rightt .form {
    width: 100% !important;
  }
  .forgotPassword .container .row .form {
    padding: 20px 10px !important;
    width: 80% !important;
  }
}
@media only screen and (max-width: 769px) {
  .genericTablet .container-fluid {
    width: 70% !important;
  }
  .forgotPassword .container .row .form {
    width: 100% !important;
  }
}
@media only screen and (max-width: 576px) {
  .genericTablet .container-fluid {
    width: 90% !important;
  }
}/*# sourceMappingURL=globals.css.map */