$main-color: #3f0071;
$main-color-dark: #150050;
$light-color: #eeeeee;
$light-color-dark: #dddddd;

@mixin transitions{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
@mixin transitionsZeroTwoSec{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

body{
    background-image: url("/assets/images/back.png");
    background-color: $light-color-dark;

    input, select, textarea, button:focus{
        outline: 0;
        outline: none;
    }

    .mainSectionHeading{
        color: $main-color-dark;
    }

    .deleteBin{
        // color: red;
        &:hover{
            color: red;
            transform: scale(1.1);
        }
    }
    .checkBoxGreen{
        color: rgb(1, 234, 1);
        &:hover{
            color: rgb(87, 87, 87);
        }
    }
    .checkBoxWhite{
        &:hover{
            color: rgb(1, 234, 1);
        }
    }
    .folderIcon{
        cursor: pointer;
    }

    .genericTablet{
        min-height: 100vh;
        .container-fluid{
            height: 80vh;
            width: 40%;
            background-color: $light-color;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
            padding: 0 !important;
        }
    }
    .tabletHeader{
        background-color: $main-color-dark;
        color: white;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        .row{
            .logoutCol{
                text-align: right;
            }
            .logoutBut{
                background-color: $light-color;
                color: $main-color;
                padding: 5px 10px;
                border-radius: 2px;
                font-weight: 600;
                border: 1px solid $main-color-dark;
                @include transitions;
                &:hover{
                    border-color: white;
                    color: white;
                    background-color: $main-color-dark;
                }
            }
            .deleteBut{
                background-color: red;
                color: white;
                padding: 5px 10px;
                border-radius: 2px;
                font-weight: 600;
                border: 1px solid rgba(0, 0, 0, 0);
                margin-right: 2px;
                @include transitions;
                &:hover{
                    background-color: rgb(218, 2, 2);
                }
            }
        }
    }
    .folderTableBody{
        padding: 0 !important;
        .createBarDiv{
            background-color: $main-color-dark;
            border-top: 1px solid $light-color;
            padding: 10px;
            .row{
                padding: 2px 15px;
                .coll{
                    padding: 0 !important;
                }
            }
            input{
                width: 100%;
                height: 35px;
                padding: 5px 10px;
                border: 2px solid rgba(0, 0, 0, 0);
                border-radius: 3px 0 0 3px;
            }
            button{
                width: 100%;
                height: 35px;
                border: 2px solid rgba(0, 0, 0, 0);
                border-radius: 0 3px 3px 0;
                &:hover{
                    background-color: $light-color-dark;
                }
            }
        }
        .folders{
            padding: 20px 25px;
        }
    }
    .folderTablet{
    }
    .tabletBody::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .tabletBody{
        height: 70vh;
        padding: 20px 10px;
        overflow-y: auto;
    }
    .folder{
        padding: 5px 10px;
        background-color: $main-color-dark;
        color: white;
        padding-bottom: 0px;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
        border: 2px solid $main-color-dark;
        margin-top: 5px;
        margin-bottom: 5px;
        i{
            margin-right: 5px
        }
        @include transitionsZeroTwoSec;
        &:hover{
            background-color: white;
            color: $main-color-dark;
            border-color: white;
            // background-color: $main-color;
            // border-color: $main-color;
            cursor: pointer;
            i{
                transform: scale(1.2);
            }
        }
    }
    .createAccount{
        min-height: 100vh;
        .container-fluid{
            min-height: 40vh;
            width: 40%;
            background-color: $light-color;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.482);
            padding: 20px 30px;
            .headings{
                text-align: center;
                margin-bottom: 20px;
            }
            .form{
                margin-top: 20px;
                input{
                    width: 100%;
                    padding: 5px 10px;
                    border-color: rgba(0, 0, 0, 0.16);
                    border: 0;
                    // border-bottom: 1px solid $main-color-dark;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    // background-color: rgba(0, 0, 0, 0);
                    height: 40px;
                    border-radius: 3px;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    font-size: large;
                }
                p{
                    margin-top: 5px;
                }
                a{
                    color: $main-color;
                    text-decoration: none;
                    font-weight: 500;
                    @include transitions;
                    &:hover{
                        color: $main-color-dark;
                    }
                }
                .passwordCol{
                    position: relative;
                    span{
                        position: absolute;
                        right: 10px;
                        top: 2px;
                    }
                }
                .createAccountBut{
                    background-color: $main-color-dark;
                    color: white;
                    padding: 5px 10px;
                    margin-top: 5px;
                    border-radius: 3px;
                    border: 1px solid $main-color-dark;
                    font-size: large;
                    @include transitions;
                    &:hover{
                        // background-color: rgba(0, 0, 0, 0);
                        // color: $main-color-dark;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    .login{
        background-color: $light-color;
        .container-fluid{
            height: 100vh;
            position: relative;
            .homeIcon{
                position: absolute;
                top: 20px;
                right: 20px;
                @include transitions;
                i{
                    font-size: xx-large;
                    color: $main-color;
                }
                &:hover{
                    i{
                        color: $main-color-dark;
                    }
                }
            }
            .row{
                .leftt{
                    padding: 0 !important;
                    img{
                        width: 100%;
                        height: 100vh;
                    }
                }
                .rightt{
                    text-align: center;
                    img{
                        height: 100px;
                        margin-bottom: 30px;
                    }
                    .form{
                        text-align: left;
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 50px;   
                        input, select{
                            width: 100%;
                            padding: 5px 10px;
                            margin-bottom: 20px;
                        }
                        .passwordCol{
                            position: relative;
                            span{
                                position: absolute;
                                right: 10px;
                                top: 2px;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: $main-color;
                            &:hover{
                                color: $main-color-dark;
                            }
                        }
                        button{
                            width: 100%;
                            padding: 10px 20px;
                            margin-bottom: 10px;
                            border: 0;
                            background-color: $main-color;
                            color: white;
                            font-size: larger;
                            font-weight: 600;
                            @include transitions;
                            &:hover{
                                background-color: $main-color-dark;
                            }
                        }
                        .createBut{
                            width: 100%;
                            padding: 10px 20px;
                            margin-bottom: 10px;
                            border: 0;
                            background-color: white;
                            border: 1px solid $main-color;
                            color: $main-color;
                            font-size: larger;
                            font-weight: 600;
                            @include transitions;
                            &:hover{
                                background-color: $main-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .forgotPassword{
        height: 90vh;
        .container{
            .row{
                .form{
                    background-color: white;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
                    padding: 30px 50px;
                    border-radius: 10px;
                    width: 50%;
                    margin: 0 auto;
                    .heading{
                        text-align: center;
                    }
                    .inputs{
                        margin-top: 50px;
                        input, select{
                            width: 100%;
                            padding: 5px 10px;
                            margin-bottom: 20px;
                        }
                        .sendBut{
                            background-color: $main-color;
                            color: white;
                            border: 1px solid $main-color;
                            padding: 10px 15px;
                            margin-right: 5px;
                            &:hover{
                                color: $main-color;
                                background-color: rgba(0, 0, 0, 0);
                            }
                        }
                        .resetBut{
                            background-color: white;
                            color: $main-color;
                            border: 1px solid $main-color;
                            padding: 10px 15px;
                            margin-right: 5px;
                            &:hover{
                                color: white;
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .genericTablet{
        .container-fluid{
            width: 60% !important;
        }
    }
    .createAccount{
        .container-fluid{
            width: 60% !important;
        }
    }
    .login{
        .container-fluid{
            height: 100vh;
            .row{
                .leftt{
                    display: none !important;
                }
                .rightt{
                    padding-top: 50px;
                    .form{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .forgotPassword{
        .container{
            .row{
                .form{
                    padding: 20px 10px !important;
                    width: 80% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .genericTablet{
        .container-fluid{
            width: 70% !important;
        }
    }
    .createAccount{
        .container-fluid{
            width: 70% !important;
        }
    }
    .forgotPassword{
        .container{
            .row{
                .form{
                    width: 100% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .genericTablet{
        .container-fluid{
            width: 90% !important;
        }
    }
    .createAccount{
        .container-fluid{
            width: 90% !important;
        }
    }
}
